body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background-color: #1F2937;
  padding: 0 10%;
  color: #F9FAFB;
}

.header a,
.header p {
  color: #e5e7eb;
}

button {
  background-color: #3B82F6;
  color: #F9FAFB;
  border-radius: 8px;
  padding: 5px 23px;
  border: 0;
}

.header-nav {
  display: flex;
  justify-content: space-between;
}

.header-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 16px;
}

.header-nav a {
  text-decoration: none;
}

.header-content {
  display: flex;
  padding: 48px 0;
}

.header-text {
  width: 50%;
}

.header-image {
  width: 50%;
  background-color: #6D747D;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  text-align: center;
  padding-bottom: 48px;
}

.main-row-one {
  padding: 0 15%;
}

.main-row-one h2 {
  text-align: center;
  padding: 32px 0;
}

.card-image-placeholder {
  height: 230px;
  width: 230px;
  margin: 0 auto;
  border-radius: 15px;
  border: 3px solid #3B82F6;
}

.main-row-two {
  padding: 0 280px;
  background-color: #E5E7EB;
}

.main-row-two p {
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  color: #1f2937;
}

.main-row-two h6 {
  font-size: 16px;
  font-weight: bold;
  text-align: right;
}

.main-row-three {
  padding: 80px 150px;
  color: #F9FAFB;
}

.sign-up-info {
  display: flex;
  padding: 48px 0;
  background-color: #3B82F6;
  border-radius: 15px;
  padding-left: 48px;
}

.sign-up-text {
  width: 75%;
  padding-left: 18px;
}

.sign-up-text h5 {
  font-size: 24px;
  margin: 0;
}

.sign-up-text p {
  margin-top: 1px;
}

.sign-up-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}

button.sign-up-button-button {
  border: 1px solid #F9FAFB;
  font-size: 18px;
}

.footer {
  padding: 24px;
  text-align: center;
  background-color: #1F2937;
  color: #F9FAFB;
}
